body{
	min-width: 800px;
  max-width: 1200px;
  width: auto;
}

.container{
	max-width: 960px;
  margin: auto;
}

.btn_refresh{
  float:right;
}
.btn_refresh:hover{
  cursor: pointer;
}
.glyphicon.glyphicon-refresh {
    font-size: 20px;
}

.btn #login{
	position: relative;
	right: 0;
}

#form_reset{
	width: 505;	
}

.btn-reset{
	position: absolute;
	float: right;
}
